extends nav
block content
    div.content-outer
        div.content.about-us
            div.vertical-align
                div.col-12
                    h1 How who feel in video
                    h2 Alpha v0.2
                    div.developer-text
                        .
                            Developer:
                    div.developer-name
                        .
                            Mark Lai
                        br
                        .
                            Karlos Lam
                        br
                        .
                            May Ng
                        br
                        .
                            Tiffany Pang