extends layout
block content
    div.vertical-align.login-outer
        div.login-panel
            div.header
                img.login-logo(src="/images/logo.svg")
                a #{title}
                div.clearfix
            form(action="login" method="post")
                button
                    i.fa.fa-arrow-left(aria-hidden="true")
                span.login-field
                    input.inputText(type=type.toLowerCase() maxlength="23" name=field.toLowerCase() required)
                    span.floating-label #{field}
                div.clearfix